.App {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

input,
button {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container h1 {
  font-size: 30px;
  font-weight: 700;
}

form {
  width: 100%;
  max-width: 325px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 10px;
  position: relative;
}

form span {
  margin-bottom: 5px;
}

form input {
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #fcf9f9;
  border: 2px solid rgba(0, 0, 0, 0.253);
  outline: none;
}

.eye-icon1,
.eye-icon2 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.562);
  cursor: pointer;
}

.eye-icon1 {
  position: absolute;
  bottom: 245px;
  right: 21px;
}

.eye-icon2 {
  position: absolute;
  bottom: 154px;
  right: 21px;
}

.red-border {
  border: 2px solid red;
}

.register-btn {
  background-color: #574dcc;
  color: #fff;
  margin-top: 20px;
  font-size: 17px;
}

.results {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  max-width: 325px;
}

.user-info {
  background-color: #f2f2f2;
  border-radius: 5px;
  max-width: 325px;
  padding: 15px 10px;
  margin-top: 20px;
  font-size: 20px;
}

.user-info p {
  padding: 15px 10px;
}

.edit-btn {
  background-color: #574dcc;
  color: #fff;
  margin-top: 50px;
  font-size: 17px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.253);
}

footer {
  padding: 30px;
  margin-top: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-top: 1px solid #00000036;
}

footer > div {
  margin: 0 auto;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}

footer a:hover {
  color: #5c48d3;
}
